<!DOCTYPE html>
<html>
  <head>
    <title>MarvelApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <% if notice %>
      <article class="message is-success is-small">
        <div class="message-body">
          <%= notice %>
        </div>
      </article>
    <% end %>
    <% if alert %>
      <article class="message is-warning is-small">
        <div class="message-body">
          <%= alert %>
        </div>
      </article>
    <% end %>
    <%= yield %>
  </body>
</html>
